src/main/xsd/PIP3B13_V11.00.00_NotifyOfShippingOrderConfirmation/XML/Interchange/ShippingOrderConfirmationNotification_02_00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:rosettanet:specification:interchange:ShippingOrderConfirmationNotification:xsd:schema:02.00"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:urss="urn:rosettanet:specification:system:xml:1.0"
    xmlns:tns="urn:rosettanet:specification:interchange:ShippingOrderConfirmationNotification:xsd:schema:02.00"
    xmlns:dl="urn:rosettanet:specification:domain:Logistics:xsd:schema:02.15"
    xmlns:sha="urn:rosettanet:specification:domain:Shared:xsd:schema:01.10"
    xmlns:rpkt="urn:rosettanet:specification:domain:Shared:PackageType:xsd:codelist:01.01"
    xmlns:udc="urn:rosettanet:specification:universal:Document:xsd:schema:01.08"
    xmlns:uuom="urn:rosettanet:specification:universal:UnitOfMeasure:xsd:codelist:01.03"
    xmlns:updi="urn:rosettanet:specification:universal:ProductIdentification:xsd:schema:01.04"
    xmlns:dsm="urn:rosettanet:specification:domain:Logistics:ShipmentMode:xsd:codelist:01.05"
    xmlns:upi="urn:rosettanet:specification:universal:PartnerIdentification:xsd:schema:01.12"
    xmlns:dp="urn:rosettanet:specification:domain:Procurement:xsd:schema:02.17"
    xmlns:rssl="urn:rosettanet:specification:domain:Shared:ShippingServiceLevel:xsd:codelist:01.01"
    xmlns:doa="urn:rosettanet:specification:domain:Procurement:OrderAdmin:xsd:codelist:01.03"
    xmlns:ssdh="urn:rosettanet:specification:system:StandardDocumentHeader:xsd:schema:01.16" elementFormDefault="qualified" attributeFormDefault="unqualified" version="02.00">
    <xs:import namespace="urn:rosettanet:specification:domain:Logistics:xsd:schema:02.15" schemaLocation="../Domain/Logistics/Logistics_02_15.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:domain:Shared:xsd:schema:01.10" schemaLocation="../Domain/Shared/Shared_01_10.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:domain:Shared:PackageType:xsd:codelist:01.01" schemaLocation="../Domain/Shared/CodeList/RN_PackageType_01_01.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:universal:Document:xsd:schema:01.08" schemaLocation="../Universal/Document_01_08.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:universal:UnitOfMeasure:xsd:codelist:01.03" schemaLocation="../Universal/CodeList/RN_UnitOfMeasure_01_03.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:universal:ProductIdentification:xsd:schema:01.04" schemaLocation="../Universal/ProductIdentification_01_04.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:domain:Logistics:ShipmentMode:xsd:codelist:01.05" schemaLocation="../Domain/Logistics/CodeList/RN_ShipmentMode_01_05.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:universal:PartnerIdentification:xsd:schema:01.12" schemaLocation="../Universal/PartnerIdentification_01_12.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:domain:Procurement:xsd:schema:02.17" schemaLocation="../Domain/Procurement/Procurement_02_17.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:domain:Shared:ShippingServiceLevel:xsd:codelist:01.01" schemaLocation="../Domain/Shared/CodeList/RN_ShippingServiceLevel_01_01.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:domain:Procurement:OrderAdmin:xsd:codelist:01.03" schemaLocation="../Domain/Procurement/CodeList/RN_OrderAdmin_01_03.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:system:StandardDocumentHeader:xsd:schema:01.16" schemaLocation="../System/StandardDocumentHeader_01_16.xsd"></xs:import>
    <xs:annotation>
        <xs:documentation>
            <urss:Copyright>© 2007 RosettaNet. All rights reserved. No part of this publication may be reproduced, stored in a retrieval system, or transmitted, in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without the inclusion of this copyright notice. Any derivative works must cite the copyright notice. Any public redistribution or sale of this publication or derivative works requires prior written permission of the publisher.</urss:Copyright>
            <urss:Disclaimer>RosettaNet makes no representation about the suitability of this work for any purpose or regarding any claims made by products which use it. It is provided as is without expressed or implied warranty.</urss:Disclaimer>
            <urss:Program>Schema2Market/3B13

            </urss:Program>
            <urss:Purpose>Provides the RosettaNet 3B13 Norify Of Shipping Order Confirmation.</urss:Purpose>
        </xs:documentation>
        <xs:appinfo>
            <urss:CreationDate>2005-09-22</urss:CreationDate>
            <urss:LastUpdatedDate>2007-07-02</urss:LastUpdatedDate>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="ShippingOrderConfirmationNotification" type="tns:ShippingOrderConfirmationNotificationType"></xs:element>
    <xs:complexType name="RequestingOrderInformationType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>The collection of business properties that identifies an order of another type that caused this shipping order to be created.
                </urss:Definition>
                <urss:CreationDate>2005-09-22</urss:CreationDate>
                <urss:LastUpdatedDate>2005-10-30</urss:LastUpdatedDate>
                <urss:TypeVersion>01.00</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="doa:OrderAdmin"></xs:element>
            <xs:element name="OrderReference" type="udc:BusinessDocumentReferenceType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>An additional reference number to identify a single shipment when there are multiple shipments resulting from a single requesting order.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="RequestingOrderLineItemReferenceType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>The collection of business properties that references a line item on a requesting document.
                </urss:Definition>
                <urss:CreationDate>2005-09-22</urss:CreationDate>
                <urss:LastUpdatedDate>2005-10-30</urss:LastUpdatedDate>
                <urss:TypeVersion>01.00</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="udc:BusinessDocumentReference"></xs:element>
            <xs:element name="SubLineSchedule" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Number of the schedule within the subline in the document, associated with a given line number.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="RoutingInformationType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>The collection of business properties that describes a leg used in the routing of  a shipment.
                </urss:Definition>
                <urss:CreationDate>2005-09-22</urss:CreationDate>
                <urss:LastUpdatedDate>2007-07-02</urss:LastUpdatedDate>
                <urss:TypeVersion>02.00</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DeliveryPriorityIdentifier" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>A numeric data item in the sales order that is used in sequencing how sales order lines are evaluated for shipping.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="FreightEquipmentNumber" type="udc:BusinessDocumentReferenceType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>A number to identify the equipment, such as truck, ship or airplane, used to transport the shipment.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dl:FreightPaymentInformation" minOccurs="0"></xs:element>
            <xs:element name="SequenceNumber" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>A positive integer which identifies the order of a designated element within a specified set.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dsm:ShipmentMode"></xs:element>
            <xs:element ref="rssl:ShippingServiceLevel" minOccurs="0"></xs:element>
            <xs:element name="ShipVia" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The partner and/or location through which the product must be shipped, such as the "cross dock" at a shipping hub.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dp:SpecialHandlingInstruction" minOccurs="0"></xs:element>
            <xs:element ref="dl:TrackingReference" minOccurs="0"></xs:element>
            <xs:element name="TransportedBy" type="upi:SpecifiedPartnerDescriptionType">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The party responsible for either carrying or forwarding the product.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="ShipmentConfirmationType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>The collection of business properties that confirms that a requested shipment has been sent.
                </urss:Definition>
                <urss:CreationDate>2005-09-22</urss:CreationDate>
                <urss:LastUpdatedDate>2007-07-02</urss:LastUpdatedDate>
                <urss:TypeVersion>02.00</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="dl:OrderInformation"></xs:element>
            <xs:element name="RequestingOrderInformation" type="tns:RequestingOrderInformationType" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="ShipmentInformation" type="tns:ShipmentInformationType"></xs:element>
            <xs:element name="ShipmentLineItem" type="tns:ShipmentLineItemType" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="ShipmentInformationType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>The collection of business properties that identifies how a shipment is to be made.
                </urss:Definition>
                <urss:CreationDate>2005-09-22</urss:CreationDate>
                <urss:LastUpdatedDate>2007-07-02</urss:LastUpdatedDate>
                <urss:TypeVersion>02.00</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ConsolidationNumber" type="udc:BusinessDocumentReferenceType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>A number that identifies other shipping orders that must be delivered to the same location at the same time.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ContainerTotalCount" type="xs:positiveInteger" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Indicates the total number of containers in the shipment that belong to this shipping order. This is usually the total number of packed cartons.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dl:DateInformation"></xs:element>
            <xs:element name="FreightReference" type="udc:BusinessDocumentReferenceType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>A reference identifier for the shipment, such as the Bill Of Lading.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="FreightTotalPhysicalDimension" type="dl:PhysicalDimensionType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The total volume and/or weight of the complete shipment.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ImportBy" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The party responsible for importing the product.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="IsOrderConsolidated" type="xs:boolean">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Indicates whether the shipment will be consolidated with shipments from other requesting orders into a single delivery.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="IsOrderMerged" type="xs:boolean">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Indicates whether the shipment will be merged with other shipments from the same requesting order into a single delivery.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dl:IsPartialShipment"></xs:element>
            <xs:element name="ManifestNumber" type="udc:BusinessDocumentReferenceType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The manifest number for the shipment.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="RoutingInformation" type="tns:RoutingInformationType" maxOccurs="unbounded"></xs:element>
            <xs:element name="ShipFrom" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The DUNS or DUNS + 4 number of the location from where the product is to be shipped.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ShipTo" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The partner and/or location to which the product must be delivered.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="ShipmentLineItemType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>The collection of business properties that describes the shipping details for a product line item on the shipping order.
                </urss:Definition>
                <urss:CreationDate>2005-09-22</urss:CreationDate>
                <urss:LastUpdatedDate>2007-07-02</urss:LastUpdatedDate>
                <urss:TypeVersion>02.00</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="dl:IsPartialShipment"></xs:element>
            <xs:element name="LineNumber" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Number of the line in the document.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ProductDescription" type="updi:TextualDescriptionType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>A textual description of the product.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="updi:ProductIdentification"></xs:element>
            <xs:element ref="sha:QuantityInformation"></xs:element>
            <xs:element name="RequestingOrderLineItemReference" type="tns:RequestingOrderLineItemReferenceType" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dl:ReturnLabel" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="ShippingContainer" type="tns:ShippingContainerType" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="uuom:UnitOfMeasure"></xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="ShippingContainerType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>The collection of business properties that describe the nature and contents of a shipping unit.
                </urss:Definition>
                <urss:CreationDate>2005-09-22</urss:CreationDate>
                <urss:LastUpdatedDate>2007-07-02</urss:LastUpdatedDate>
                <urss:TypeVersion>02.00</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="rpkt:PackageType" minOccurs="0"></xs:element>
            <xs:element ref="dl:PhysicalDimension" minOccurs="0"></xs:element>
            <xs:element name="ShippingContainerIdentifier" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Unique identifier that represents a shipping container. Normally a UCC structured identifier. Also known as a "license plate".</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ShippingContainerItem" type="tns:ShippingContainerItemType" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="SubContainer" type="tns:SubContainerType" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dl:TrackingReference" minOccurs="0"></xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="ShippingContainerItemType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>The collection of business properties that describe the nature and contents of the good contained within shipping unit.</urss:Definition>
                <urss:CreationDate>2005-09-22</urss:CreationDate>
                <urss:LastUpdatedDate>2007-07-02</urss:LastUpdatedDate>
                <urss:TypeVersion>02.00</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="dl:LotReference" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dl:ManufacturerProfile" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="NumberOfItemPackages" type="xs:positiveInteger" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>A numeric expression of the number of item packages within a container.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="sha:QuantityInformation"></xs:element>
            <xs:element name="RequestingOrderLineItemReference" type="tns:RequestingOrderLineItemReferenceType"></xs:element>
            <xs:element name="TraceIdentifier" type="xs:string" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Free form text for a non-serial lot identifier.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="ShippingOrderConfirmationNotificationType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>Message wrapper for PIP3B13.</urss:Definition>
                <urss:CreationDate>2005-09-22</urss:CreationDate>
                <urss:LastUpdatedDate>2007-07-02</urss:LastUpdatedDate>
                <urss:TypeVersion>02.00</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="ssdh:DocumentHeader" minOccurs="0"></xs:element>
            <xs:element name="ShipmentConfirmation" type="tns:ShipmentConfirmationType"></xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="SubContainerType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>The collection of business properties that describe the nature and contents of inner containers (packages) contained within an outer shipping unit.</urss:Definition>
                <urss:CreationDate>2005-09-22</urss:CreationDate>
                <urss:LastUpdatedDate>2007-07-02</urss:LastUpdatedDate>
                <urss:TypeVersion>02.00</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ShippingContainer" type="tns:ShippingContainerType"></xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
</xs:schema>
