src/main/xsd/PIP2A13_V11.04.00_DistributeMaterialCompositionInformation/XML/Interchange/MaterialCompositionInformationDistribution_02_01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:rosettanet:specification:interchange:MaterialCompositionInformationDistribution:xsd:schema:02.01" xmlns:uci="urn:rosettanet:specification:universal:ContactInformation:xsd:schema:01.03" xmlns:udc="urn:rosettanet:specification:universal:Document:xsd:schema:01.08" xmlns:ssdh="urn:rosettanet:specification:system:StandardDocumentHeader:xsd:schema:01.18" xmlns:upi="urn:rosettanet:specification:universal:PartnerIdentification:xsd:schema:01.14" xmlns:dds="urn:rosettanet:specification:domain:Design:xsd:schema:02.17" xmlns:tns="urn:rosettanet:specification:interchange:MaterialCompositionInformationDistribution:xsd:schema:02.01" xmlns:urss="urn:rosettanet:specification:system:xml:1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="02.01">
	<xs:import namespace="urn:rosettanet:specification:domain:Design:xsd:schema:02.17" schemaLocation="../Domain/Design/Design_02_17.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:universal:PartnerIdentification:xsd:schema:01.14" schemaLocation="../Universal/PartnerIdentification_01_14.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:system:StandardDocumentHeader:xsd:schema:01.18" schemaLocation="../System/StandardDocumentHeader_01_18.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:universal:Document:xsd:schema:01.08" schemaLocation="../Universal/Document_01_08.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:universal:ContactInformation:xsd:schema:01.03" schemaLocation="../Universal/ContactInformation_01_03.xsd"/>
	<xs:annotation>
		<xs:documentation>
			<urss:Copyright>© 2007 RosettaNet. All rights reserved. No part of this publication may be reproduced, stored in a retrieval system, or transmitted, in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without the inclusion of this copyright notice. Any derivative works must cite the copyright notice. Any public redistribution or sale of this publication or derivative works requires prior written permission of the publisher.</urss:Copyright>
			<urss:Disclaimer>RosettaNet makes no representation about the suitability of this work for any purpose or regarding any claims made by products which use it. It is provided as is without expressed or implied warranty.</urss:Disclaimer>
			<urss:Program>Schema2Market Phase 2B/2A13

</urss:Program>
			<urss:Purpose>The purpose of this PIP is to response the request for material composition information within the supply chain companies</urss:Purpose>
		</xs:documentation>
		<xs:appinfo>
			<urss:CreationDate>2005-06-14</urss:CreationDate>
			<urss:LastUpdatedDate>2007-08-27</urss:LastUpdatedDate>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="MaterialCompositionInformationDistribution" type="tns:MaterialCompositionInformationDistributionType"/>
	<xs:complexType name="ConditionType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>An operational or testing condition necessary to produce the value for a given property. To report results of a material composition when "one or more conditions" have been applied to it. The list of conditions could grow, such is the case of a product, the list of conditions could be represented as a table of values.</urss:Definition>
				<urss:CreationDate>2005-06-14</urss:CreationDate>
				<urss:LastUpdatedDate>2006-09-01</urss:LastUpdatedDate>
				<urss:TypeVersion>02.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="dds:ActualValue" maxOccurs="unbounded"/>
			<xs:element name="Name" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The name of the condition which could be a pre-defined rule in Information Distribution Agreement. For example, ISO test #123ABC could be the condition rule used to test outer wrapping of a power cord which has 0.1% Cadmium.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="MaterialCompositionInformationDistributionType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>A message wrapper or root element for the response message of Material Composition Information.</urss:Definition>
				<urss:CreationDate>2005-06-14</urss:CreationDate>
				<urss:LastUpdatedDate>2007-08-27</urss:LastUpdatedDate>
				<urss:TypeVersion>02.01</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AgreementIdentifier" type="udc:BusinessDocumentReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Known as IDA (Information Distribution Agreement) requirement for the purpose of cross-reference to a specifing line/position in the agreement/contract.

A mutually agreed identifier assgined to the Information Distribution Agreement under which ths information distribution is taking place. Preferable document identifier should be contract (COT).
</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Authorizer" type="uci:ContactInformationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The person who authorise the release of the report and certify that the declaration is true and complete.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Creator" type="uci:ContactInformationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The person who complete the material composition declaration.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ssdh:DocumentHeader" minOccurs="0"/>
			<xs:element name="ProductInformation" type="tns:ProductInformationType" maxOccurs="unbounded"/>
			<xs:element name="ProductInformationHeader" type="tns:ProductInformationHeaderType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="ProductInformationType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of information related to a product or a product family.</urss:Definition>
				<urss:CreationDate>2005-06-14</urss:CreationDate>
				<urss:LastUpdatedDate>2006-09-01</urss:LastUpdatedDate>
				<urss:TypeVersion>02.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AlternativeProductIdentifier" type="dds:ProductIdentifierType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Provide additional product identifier data, which are different  from the sender's product identifier. This is required when the receiver and sender have their own proprietary product name, code etc.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Condition" type="tns:ConditionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dds:Directive" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DistributionNote" type="dds:NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Distribution specific notations. Additonal notation for the distribution, product information, substance or radioactivity.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsGeneric" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>To identify the subsequent product reporting as a product family (generic) reporting.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="upi:KnownPartner" minOccurs="0"/>
			<xs:element ref="dds:ManufacturingProcessInfo" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dds:Material" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dds:ProductIdentifier"/>
			<xs:element name="ProductInformationObject" type="tns:ProductInformationObjectType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dds:ProductMass" minOccurs="0"/>
			<xs:element ref="dds:Subpart" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dds:Substance" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="ProductInformationHeaderType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of header information(s) related to one or more product.</urss:Definition>
				<urss:CreationDate>2005-06-14</urss:CreationDate>
				<urss:LastUpdatedDate>2006-09-01</urss:LastUpdatedDate>
				<urss:TypeVersion>02.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="upi:FullPartner" maxOccurs="unbounded"/>
			<xs:element name="RequesterNote" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Requestor comments or URL for additional information.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResponseByDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>This field identifies the date when the supplier is expected to respond to the request for information.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SupplierNote" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Supplier comments or URL for additional information.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="ProductInformationObjectType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>A Meta data structure used to describe a logical representation of arbitrary data.  This is also known as Attachments. This will be used as a sub-class subordinate to the ProductInformation data structure.</urss:Definition>
				<urss:CreationDate>2005-06-14</urss:CreationDate>
				<urss:LastUpdatedDate>2006-09-01</urss:LastUpdatedDate>
				<urss:TypeVersion>02.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContentTypeReference" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>A unique identifier that defines the category of information provided by this ProductInformationObject.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescriptionNote" type="dds:NoteType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Additonal notation that characterizes or otherwise identifies this ProductInformationObject.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffectiveDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The date when the information becomes effective.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Identifier" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The identifier for a ProductInformationObject unique in the namespace of the notification.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModificationDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The last time a change was made.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The name of the ProductInformationObject, also known as Attachment.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dds:ReferenceLocator" minOccurs="0"/>
			<xs:element name="Version" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>An arbitrary identifier indicating a content revision level.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
</xs:schema>
