src/main/xsd/PIP2A13_V11.02.00_DistributeMaterialCompositionInformation/XML/Interchange/MaterialCompositionInformationDistribution_01_02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with RosettaNet UML2XSD 1.0.10 1.0.10 on 6/28/2005-->
<xs:schema targetNamespace="urn:rosettanet:specification:interchange:MaterialCompositionInformationDistribution:xsd:schema:01.02"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:urss="urn:rosettanet:specification:system:xml:1.0"
    xmlns:tns="urn:rosettanet:specification:interchange:MaterialCompositionInformationDistribution:xsd:schema:01.02"
    xmlns:st="http://www.ascc.net/xml/schematron"
    xmlns:dds="urn:rosettanet:specification:domain:Design:xsd:schema:01.05"
    xmlns:updi="urn:rosettanet:specification:universal:ProductIdentification:xsd:schema:01.02"
    xmlns:upi="urn:rosettanet:specification:universal:PartnerIdentification:xsd:schema:01.03"
    xmlns:ssdh="urn:rosettanet:specification:system:StandardDocumentHeader:xsd:schema:01.06"
    xmlns:udc="urn:rosettanet:specification:universal:Document:xsd:schema:01.01"
    xmlns:uci="urn:rosettanet:specification:universal:ContactInformation:xsd:schema:01.01" elementFormDefault="qualified" attributeFormDefault="unqualified" version="01.02">
    <xs:import namespace="urn:rosettanet:specification:domain:Design:xsd:schema:01.05" schemaLocation="../Domain/Design/Design_01_05.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:universal:ProductIdentification:xsd:schema:01.02" schemaLocation="../Universal/ProductIdentification_01_02.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:universal:PartnerIdentification:xsd:schema:01.03" schemaLocation="../Universal/PartnerIdentification_01_03.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:system:StandardDocumentHeader:xsd:schema:01.06" schemaLocation="../System/StandardDocumentHeader_01_06.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:universal:Document:xsd:schema:01.01" schemaLocation="../Universal/Document_01_01.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:universal:ContactInformation:xsd:schema:01.01" schemaLocation="../Universal/ContactInformation_01_01.xsd"></xs:import>
    <xs:annotation>
        <xs:documentation>
            <urss:Copyright>© 2005 RosettaNet. All rights reserved. No part of this publication may be reproduced, stored in a retrieval system, or transmitted, in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without the inclusion of this copyright notice. Any derivative works must cite the copyright notice. Any public redistribution or sale of this publication or derivative works requires prior written permission of the publisher.</urss:Copyright>
            <urss:Disclaimer>RosettaNet makes no representation about the suitability of this work for any purpose or regarding any claims made by products which use it.  It is provided as is without expressed or implied warranty.</urss:Disclaimer>
            <urss:Program>Material Composition</urss:Program>
            <urss:Purpose>The purpose of this PIP is to response the request for material composition information within the supply chain companies</urss:Purpose>
        </xs:documentation>
        <xs:appinfo>
            <urss:CreationDate>2005-06-14</urss:CreationDate>
            <urss:LastUpdatedDate>2005-06-14</urss:LastUpdatedDate>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="MaterialCompositionInformationDistribution" type="tns:MaterialCompositionInformationDistributionType"></xs:element>
    <xs:complexType name="ConditionType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>An operational or testing condition necessary to produce the value for a given property. To report results of a material composition when "one or more conditions" have been applied to it. The list of conditions could grow, such is the case of a product, the list of conditions could be represented as a table of values.</urss:Definition>
                <urss:CreationDate></urss:CreationDate>
                <urss:LastUpdatedDate></urss:LastUpdatedDate>
                <urss:TypeVersion>1.0</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="dds:ActualValue" maxOccurs="unbounded"></xs:element>
            <xs:element name="Name" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The name of the condition which could be a pre-defined rule in Information Distribution Agreement. For example, ISO test #123ABC could be the condition rule used to test outer wrapping of a power cord which has 0.1% Cadmium.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="MaterialCompositionInformationDistributionType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>A message wrapper or root element for the response message of Material Composition Information.</urss:Definition>
                <urss:CreationDate></urss:CreationDate>
                <urss:LastUpdatedDate></urss:LastUpdatedDate>
                <urss:TypeVersion>1.0</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AgreementIdentifier" type="udc:BusinessDocumentReferenceType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Known as IDA (Information Distribution Agreement) requirement for the purpose of cross-reference to a specifing line/position in the agreement/contract.

A mutually agreed identifier assgined to the Information Distribution Agreement under which ths information distribution is taking place. Preferable document identifier should be contract (COT).
                        </urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Authorizer" type="uci:ContactInformationType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The person who authorise the release of the report and certify that the declaration is true and complete.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Creator" type="uci:ContactInformationType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The person who complete the material composition declaration.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="ssdh:DocumentHeader" minOccurs="0"></xs:element>
            <xs:element name="ProductInformation" type="tns:ProductInformationType" maxOccurs="unbounded"></xs:element>
            <xs:element name="ProductInformationHeader" type="tns:ProductInformationHeaderType" minOccurs="0"></xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="ProductIdentifierType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>The collection of data structure to identify a product or a product family.</urss:Definition>
                <urss:CreationDate></urss:CreationDate>
                <urss:LastUpdatedDate></urss:LastUpdatedDate>
                <urss:TypeVersion>1.0</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="DateCode" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The date when the group or batch of product becomes effective.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ManufacturingSite" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Identify the site where a group or batch of product is manufactured.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="updi:ProductDescription"></xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="ProductInformationType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>The collection of information related to a product or a product family.</urss:Definition>
                <urss:CreationDate></urss:CreationDate>
                <urss:LastUpdatedDate></urss:LastUpdatedDate>
                <urss:TypeVersion>1.0</urss:TypeVersion>
                <urss:Constraint>
                    <st:ns prefix="tns" uri="urn:rosettanet:specification:interchange:MaterialCompositionInformationDistribution:xsd:schema:01.02"/>
                    <st:pattern name="isGeneric">
                        <st:rule context="tns:ProductInformation">
                            <st:assert test="not (count(tns:ProductInformation/tns:IsGeneric) = 1) or (normalize-space(tns:ProductInformation/tns:IsGeneric)='true')">In ProductInformation, if the occurence of ProductInformation/IsGeneric is 1 then the value of ProductInformation/IsGeneric MUST be 'true'.</st:assert>
                        </st:rule>
                    </st:pattern>
                </urss:Constraint>
            </xs:appinfo>
            <xs:documentation>
                <urss:Constraint>In ProductInformation, if the occurence of ProductInformation/IsGeneric is 1 then the value of ProductInformation/IsGeneric MUST be 'true'.</urss:Constraint>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AlternativeProductIdentifier" type="tns:ProductIdentifierType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Provide additional product identifier data, which are different  from the sender's product identifier. This is required when the receiver and sender have their own proprietary product name, code etc.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Condition" type="tns:ConditionType" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dds:Directive" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="DistributionNote" type="dds:NoteType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Distribution specific notations. Additonal notation for the distribution, product information, substance or radioactivity.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="IsGeneric" type="xs:boolean" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>To identify the subsequent product reporting as a product family (generic) reporting.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="upi:KnownPartner" minOccurs="0"></xs:element>
            <xs:element ref="dds:ManufacturingProcessInfo" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dds:Material" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="ProductIdentifier" type="tns:ProductIdentifierType"></xs:element>
            <xs:element name="ProductInformationObject" type="tns:ProductInformationObjectType" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dds:ProductMass" minOccurs="0"></xs:element>
            <xs:element ref="dds:Subpart" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dds:Substance" maxOccurs="unbounded" minOccurs="0"></xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="ProductInformationHeaderType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>The collection of header information(s) related to one or more product.</urss:Definition>
                <urss:CreationDate></urss:CreationDate>
                <urss:LastUpdatedDate></urss:LastUpdatedDate>
                <urss:TypeVersion>1.0</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="upi:KnownPartner" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="ProductInformationObjectType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>A Meta data structure used to describe a logical representation of arbitrary data.  This is also known as Attachments. This will be used as a sub-class subordinate to the ProductInformation data structure.</urss:Definition>
                <urss:CreationDate></urss:CreationDate>
                <urss:LastUpdatedDate></urss:LastUpdatedDate>
                <urss:TypeVersion>1.0</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ContentTypeReference" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>A unique identifier that defines the category of information provided by this ProductInformationObject.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="DescriptionNote" type="dds:NoteType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Additonal notation that characterizes or otherwise identifies this ProductInformationObject.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="EffectiveDate" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The date when the information becomes effective.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Identifier" type="xs:nonNegativeInteger">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The identifier for a ProductInformationObject unique in the namespace of the notification.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ModificationDate" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The last time a change was made.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The name of the ProductInformationObject, also known as Attachment.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dds:ReferenceLocator" minOccurs="0"></xs:element>
            <xs:element name="Version" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>An arbitrary identifier indicating a content revision level.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
</xs:schema>
