src/main/xsd/PIP3A1_V11.00.00_RequestQuote/XML/Interchange/QuoteRequest_01_03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by RosettaNet (RosettaNet) -->
<!-- Created with RosettaNet UML2XSD 1.0.10 on 10/25/2005-->
<xs:schema targetNamespace="urn:rosettanet:specification:interchange:QuoteRequest:xsd:schema:01.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:urss="urn:rosettanet:specification:system:xml:1.0" xmlns:tns="urn:rosettanet:specification:interchange:QuoteRequest:xsd:schema:01.03" xmlns:st="http://www.ascc.net/xml/schematron" xmlns:udc="urn:rosettanet:specification:universal:Document:xsd:schema:01.01" xmlns:dp="urn:rosettanet:specification:domain:Procurement:xsd:schema:01.15" xmlns:updi="urn:rosettanet:specification:universal:ProductIdentification:xsd:schema:01.02" xmlns:dqt="urn:rosettanet:specification:domain:Procurement:QuoteType:xsd:codelist:01.03" xmlns:dro="urn:rosettanet:specification:domain:Procurement:RequestOption:xsd:codelist:01.00" xmlns:upi="urn:rosettanet:specification:universal:PartnerIdentification:xsd:schema:01.04" xmlns:dra="urn:rosettanet:specification:domain:Procurement:RequoteAction:xsd:codelist:01.02" xmlns:dte="urn:rosettanet:specification:domain:Procurement:TransportEvent:xsd:codelist:01.02" xmlns:dgpr="urn:rosettanet:specification:domain:Procurement:GovernmentPriorityRating:xsd:codelist:01.02" xmlns:uuom="urn:rosettanet:specification:universal:UnitOfMeasure:xsd:codelist:01.01" xmlns:isi="urn:rosettanet:specification:interchange:StockIndicator:xsd:codelist:01.00" xmlns:dqs="urn:rosettanet:specification:domain:Procurement:QuoteStatus:xsd:codelist:01.01" xmlns:ud="urn:rosettanet:specification:universal:Dates:xsd:schema:01.01" xmlns:dl="urn:rosettanet:specification:domain:Logistics:xsd:schema:01.09" xmlns:ssdh="urn:rosettanet:specification:system:StandardDocumentHeader:xsd:schema:01.06" elementFormDefault="qualified" attributeFormDefault="unqualified" version="01.03">
	<xs:import namespace="urn:rosettanet:specification:universal:Document:xsd:schema:01.01" schemaLocation="../Universal/Document_01_01.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Procurement:xsd:schema:01.15" schemaLocation="../Domain/Procurement/Procurement_01_15.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:universal:ProductIdentification:xsd:schema:01.02" schemaLocation="../Universal/ProductIdentification_01_02.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Procurement:QuoteType:xsd:codelist:01.03" schemaLocation="../Domain/Procurement/CodeList/RN_QuoteType_01_03.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Procurement:RequestOption:xsd:codelist:01.00" schemaLocation="../Domain/Procurement/CodeList/RN_RequestOption_01_00.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:universal:PartnerIdentification:xsd:schema:01.04" schemaLocation="../Universal/PartnerIdentification_01_04.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Procurement:RequoteAction:xsd:codelist:01.02" schemaLocation="../Domain/Procurement/CodeList/RN_RequoteAction_01_02.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Procurement:TransportEvent:xsd:codelist:01.02" schemaLocation="../Domain/Procurement/CodeList/RN_TransportEvent_01_02.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Procurement:GovernmentPriorityRating:xsd:codelist:01.02" schemaLocation="../Domain/Procurement/CodeList/RN_GovernmentPriorityRating_01_02.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:universal:UnitOfMeasure:xsd:codelist:01.01" schemaLocation="../Universal/CodeList/RN_UnitOfMeasure_01_01.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:interchange:StockIndicator:xsd:codelist:01.00" schemaLocation="CodeList/RN_StockIndicator_01_00.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Procurement:QuoteStatus:xsd:codelist:01.01" schemaLocation="../Domain/Procurement/CodeList/RN_QuoteStatus_01_01.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:universal:Dates:xsd:schema:01.01" schemaLocation="../Universal/Dates_01_01.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Logistics:xsd:schema:01.09" schemaLocation="../Domain/Logistics/Logistics_01_09.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:system:StandardDocumentHeader:xsd:schema:01.06" schemaLocation="../System/StandardDocumentHeader_01_06.xsd"/>
	<xs:annotation>
		<xs:documentation>
			<urss:Copyright>© 2005 RosettaNet. All rights reserved. No part of this publication may be reproduced, stored in a retrieval system, or transmitted, in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without the inclusion of this copyright notice. Any derivative works must cite the copyright notice. Any public redistribution or sale of this publication or derivative works requires prior written permission of the publisher.</urss:Copyright>
			<urss:Disclaimer>RosettaNet makes no representation about the suitability of this work for any purpose or regarding any claims made by products which use it.  It is provided as is without expressed or implied warranty.</urss:Disclaimer>
			<urss:Program>Schema2Market/3A1</urss:Program>
			<urss:Purpose>Collection of all Quote Request structures.</urss:Purpose>
		</xs:documentation>
		<xs:appinfo>
			<urss:CreationDate>2005-04-06</urss:CreationDate>
			<urss:LastUpdatedDate>2005-10-21</urss:LastUpdatedDate>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="QuoteRequest" type="tns:QuoteRequestType"/>
	<xs:complexType name="CompetitorReferenceType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describe a competitor's product and pricing for purposes within a quote business document.</urss:Definition>
				<urss:CreationDate>2005-04-06</urss:CreationDate>
				<urss:LastUpdatedDate>2005-04-06</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="upi:PartnerDescription"/>
			<xs:element ref="updi:ProductIdentification" minOccurs="0"/>
			<xs:element name="UnitPrice" type="dp:ProductPricingType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Agreed upon sale price for each unit ordered.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="ProductLineItemType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describe a product entry in a quote business documents.</urss:Definition>
				<urss:CreationDate>2005-08-25</urss:CreationDate>
				<urss:LastUpdatedDate>2005-08-25</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
				<urss:Constraint>
					<st:ns prefix="dp" uri="urn:rosettanet:specification:domain:Procurement:xsd:schema:01.15"/>
					<st:ns prefix="tns" uri="urn:rosettanet:specification:interchange:QuoteRequest:xsd:schema:01.03"/>
					<st:pattern name="taxExemption">
						<st:rule context="tns:ProductLineItem">
							<st:assert test="not (normalize-space(dp:TaxExemptStatus/dp:IsTaxExempt)='true') or (count(dp:TaxExemptStatus/dp:TaxExemption) = 1)">In ProductLineItem, if the value of TaxExemptStatus/IsTaxExempt is equal to true then the occurence of TaxExemptStatus/TaxExemption MUST be 1.</st:assert>
						</st:rule>
					</st:pattern>
				</urss:Constraint>
			</xs:appinfo>
			<xs:documentation>
				<urss:Constraint>In ProductLineItem, if the value of TaxExemptStatus/IsTaxExempt is equal to true then the occurence of TaxExemptStatus/TaxExemption MUST be 1.</urss:Constraint>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="udc:BusinessDocumentReference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Comments" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Free form textual description of a general nature.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompetitorReference" type="tns:CompetitorReferenceType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DesignRegistrationIdentifier" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>A proprietary unique identifier for a design registration.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="GovernmentContractIdentifier" type="udc:BusinessDocumentReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The unique number that identifies a government contract.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dgpr:GovernmentPriorityRating" minOccurs="0"/>
			<xs:element name="Identifier" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>A unique serial identifier assigned to a product.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsRequiredToResponseAtDetailLevel" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>This object representing the option for the response. If the value equals to true, the receiver is required to response to detail level. If the value equals to false, the receiver is only required to reply at summary level. </urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsSubstituteProductAcceptable" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Indicates whether the requesting party will accept a substitute product for the product requested.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineNumber" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Number of the line in the document.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="updi:ProductIdentification"/>
			<xs:element name="QuoteCustomerInformation" type="tns:QuoteCustomerInformationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RequestedQuantity" type="tns:QuoteQuantityType">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The quantity of product requested.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestedShipFrom" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The DUNS or DUNS + 4 number of the location where the product is requested to be shipped from.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestedUnitPrice" type="dp:ProductPricingType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The price requested for a unit of product.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequoteLineStatus" type="tns:RequoteLineStatusType" minOccurs="0"/>
			<xs:element name="ShipTo" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The collection of business properties that describe a business partners' identity, their contact information, where they are physically located and their function in a supply chain.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:SpecialDiscount" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="isi:StockIndicator" minOccurs="0"/>
			<xs:element ref="dp:TaxExemptStatus" minOccurs="0"/>
			<xs:element ref="uuom:UnitOfMeasure"/>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="QuoteType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describe an offer to supply a quantity of products at an agreed price and schedule.</urss:Definition>
				<urss:CreationDate>2005-04-06</urss:CreationDate>
				<urss:LastUpdatedDate>2005-09-27</urss:LastUpdatedDate>
				<urss:TypeVersion>01.02</urss:TypeVersion>
				<urss:Constraint>
					<st:ns prefix="dp" uri="urn:rosettanet:specification:domain:Procurement:xsd:schema:01.15"/>
					<st:ns prefix="tns" uri="urn:rosettanet:specification:interchange:QuoteRequest:xsd:schema:01.03"/>
					<st:pattern name="taxExemption">
						<st:rule context="tns:Quote">
							<st:assert test="not (normalize-space(dp:TaxExemptStatus/dp:IsTaxExempt)='true') or (count(dp:TaxExemptStatus/dp:TaxExemption) = 1)">In Quote, if the value of TaxExemptStatus/IsTaxExempt is equal to true then the occurence of TaxExemptStatus/TaxExemption MUST be 1.</st:assert>
						</st:rule>
					</st:pattern>
				</urss:Constraint>
			</xs:appinfo>
			<xs:documentation>
				<urss:Constraint>In Quote, if the value of TaxExemptStatus/IsTaxExempt is equal to true then the occurence of TaxExemptStatus/TaxExemption MUST be 1.</urss:Constraint>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BillTo" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The party that will pay the invoice.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="udc:BusinessDocumentReference" maxOccurs="unbounded"/>
			<xs:element ref="dl:CarrierInformation" minOccurs="0"/>
			<xs:element name="Comments" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Free form textual description of a general nature.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractOwner" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The party who is the owner of the contract. For example, In the direct business, the buyer is the contract owner. In the distribution business, the buyer is the distributor and the contract owner is the reseller.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="DistributedBy" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The party who supplies products to retailers.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancedBy" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The party who is the financier.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="GovernmentContractIdentifier" type="udc:BusinessDocumentReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The unique number that identifies a government contract.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dgpr:GovernmentPriorityRating" minOccurs="0"/>
			<xs:element name="IsRequiredToResponseAtDetailLevel" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>This object representing the option for the response. If the value equals to true, the receiver is required to response to detail level. If the value equals to false, the receiver is only required to reply at summary level. </urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:PriceCondition" minOccurs="0"/>
			<xs:element name="QuoteCustomerInformation" type="tns:QuoteCustomerInformationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="QuoteLineItem" type="tns:QuoteLineItemType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dqt:QuoteType"/>
			<xs:element name="RequestedResponseDate" type="ud:DatePeriodType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The date for which a response has been requested to be transmitted.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequoteReference" type="udc:BusinessDocumentReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The document reference for a previous quote.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RespondTo" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The party to whom a responding business document must be sent when it is not equal to the fromRole.PartnerDescription.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:SpecialDiscount" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dp:TaxExemptStatus" minOccurs="0"/>
			<xs:element name="TotalPrice" type="dp:MonetaryAmountType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Total price for the entire business document.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="QuoteCustomerInformationType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describe the customer who uses a quote business document.</urss:Definition>
				<urss:CreationDate>2005-04-06</urss:CreationDate>
				<urss:LastUpdatedDate>2005-04-06</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dp:CustomerInformationType">
				<xs:sequence>
					<xs:element ref="dqs:QuoteStatus"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QuoteLineItemType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describe a product entry in a quote business document.s</urss:Definition>
				<urss:CreationDate>2005-04-06</urss:CreationDate>
				<urss:LastUpdatedDate>2005-09-27</urss:LastUpdatedDate>
				<urss:TypeVersion>01.02</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="ServiceLineItemByOption" type="tns:ServiceLineItemByOptionType"/>
				<xs:element name="ProductLineItem" type="tns:ProductLineItemType"/>
				<xs:element name="ServiceLineItem" type="tns:ServiceLineItemType"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="QuoteQuantityType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describe the quantities associated with a product quote.</urss:Definition>
				<urss:CreationDate>2005-04-06</urss:CreationDate>
				<urss:LastUpdatedDate>2005-04-06</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ManufacturerMinimumPackageQuantity" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The product quantity in a defined package by a manufacturer.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="MinimumOrderQuantity" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>A numeric expression of the minimum number of product line items that may be ordered.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportationSchedule" type="tns:TransportationScheduleType"/>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="QuoteRequestType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>A message wrapper or root element for PIP3A1</urss:Definition>
				<urss:CreationDate>2005-04-06</urss:CreationDate>
				<urss:LastUpdatedDate>2005-09-22</urss:LastUpdatedDate>
				<urss:TypeVersion>01.01</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ssdh:DocumentHeader" minOccurs="0"/>
			<xs:element name="Quote" type="tns:QuoteType"/>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="RequoteLineStatusType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describe a previous quote's identification and status for a given entry on the prior quote.</urss:Definition>
				<urss:CreationDate>2005-04-06</urss:CreationDate>
				<urss:LastUpdatedDate>2005-04-06</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="dra:RequoteAction"/>
			<xs:element name="RequoteReference" type="udc:BusinessDocumentReferenceType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The document reference for a previous quote.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="QuantityType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describe product quantity and associated schedules.</urss:Definition>
				<urss:CreationDate>2005-04-06</urss:CreationDate>
				<urss:LastUpdatedDate>2005-04-06</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="dp:ProductQuantity"/>
			<xs:element name="ScheduleDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Specifies a date for the schedule.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="ServiceLineItemType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describe a service entry in a quote business documents.</urss:Definition>
				<urss:CreationDate>2005-08-25</urss:CreationDate>
				<urss:LastUpdatedDate>2005-09-08</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="udc:BusinessDocumentReference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dp:ContractInformation" minOccurs="0"/>
			<xs:element name="HandlingInstruction" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The object that representing the instruction for quote handling.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstallAt" type="upi:SpecifiedPartnerDescriptionType">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The partner and/or location to which the product must be set up for use or service.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsRequiredToResponseAtDetailLevel" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>This object representing the option for the response. If the value equals to true, the receiver is required to response to detail level. If the value equals to false, the receiver is only required to reply at summary level. </urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineNumber" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Number of the line in the document.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="updi:ProductIdentification" minOccurs="0"/>
			<xs:element name="ProductLineNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The object that representing the line number of the referenced product line item.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductSerialIdentifier" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>A unique serial identifier assigned to a product.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dqt:QuoteType"/>
			<xs:element name="RequestedProductQuantity" type="dp:ProductQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The quantity of product requested.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestedServiceQuantity" type="dp:ProductQuantityType">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The quantity of service requested.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestedUnitPrice" type="dp:ProductPricingType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The price requested for a unit of service.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequoteLineStatus" type="tns:RequoteLineStatusType" minOccurs="0"/>
			<xs:element name="ServiceIdentification" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>A unique serial identifier assigned to a service.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceLevel" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The object that representing the type of service.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServicePeriod" type="dp:DatePeriodAndDurationType">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>This object allows representation of a date period by a duration or begin and an end dates for a service period.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:SpecialDiscount" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="ServiceLineItemByOptionType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describe a service entry by option (eg. by Contract, by Product or by Site) in a quote business documents.</urss:Definition>
				<urss:CreationDate>2005-09-27</urss:CreationDate>
				<urss:LastUpdatedDate>2005-09-27</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
				<urss:Constraint>
					<st:ns prefix="tns" uri="urn:rosettanet:specification:interchange:QuoteRequest:xsd:schema:01.03"/>
					<st:ns prefix="dro" uri="urn:rosettanet:specification:domain:Procurement:RequestOption:xsd:codelist:01.00"/>
					<st:ns prefix="updi" uri="urn:rosettanet:specification:universal:ProductIdentification:xsd:schema:01.02"/>
					<st:pattern name="quoteByProduct">
						<st:rule context="tns:ServiceLineItemByOption">
							<st:assert test="not (normalize-space(dro:RequestOption)='PRO') or (count(updi:ProductIdentification) = 1 or count(tns:ServiceIdentification) = 1)">In ServiceLineItemByOption, if the value of RequestOption is equal to 'PRO' then the occurence of ProductIdentification or ServiceIdentification MUST be 1.</st:assert>
						</st:rule>
					</st:pattern>
				</urss:Constraint>
				<urss:Constraint>
					<st:ns prefix="dro" uri="urn:rosettanet:specification:domain:Procurement:RequestOption:xsd:codelist:01.00"/>
					<st:ns prefix="dp" uri="urn:rosettanet:specification:domain:Procurement:xsd:schema:01.15"/>
					<st:ns prefix="tns" uri="urn:rosettanet:specification:interchange:QuoteRequest:xsd:schema:01.03"/>
					<st:pattern name="quoteByContract">
						<st:rule context="tns:ServiceLineItemByOption">
							<st:assert test="not (normalize-space(dro:RequestOption)='CON') or (count(dp:ContractInformation) = 1)">In ServiceLineItemByOption, if the value of RequestOption is equal to 'CON' then the occurence of ContractInformation MUST be 1.</st:assert>
						</st:rule>
					</st:pattern>
				</urss:Constraint>
				<urss:Constraint>
					<st:ns prefix="dro" uri="urn:rosettanet:specification:domain:Procurement:RequestOption:xsd:codelist:01.00"/>
					<st:ns prefix="tns" uri="urn:rosettanet:specification:interchange:QuoteRequest:xsd:schema:01.03"/>
					<st:ns prefix="tns" uri="urn:rosettanet:specification:interchange:QuoteRequest:xsd:schema:01.03"/>
					<st:pattern name="quoteBySite">
						<st:rule context="tns:ServiceLineItemByOption">
							<st:assert test="not (normalize-space(dro:RequestOption)='SIT') or (count(tns:InstallAt) = 1)">In ServiceLineItemByOption, if the value of RequestOption is equal to 'SIT' then the occurence of InstallAt MUST be 1.</st:assert>
						</st:rule>
					</st:pattern>
				</urss:Constraint>
			</xs:appinfo>
			<xs:documentation>
				<urss:Constraint>In ServiceLineItemByOption, .</urss:Constraint>
				<urss:Constraint>In ServiceLineItemByOption, if the value of RequestOption is equal to 'CON' then the occurence of ContractInformation MUST be 1.</urss:Constraint>
				<urss:Constraint>In ServiceLineItemByOption, if the value of RequestOption is equal to 'SIT' then the occurence of InstallAt MUST be 1.</urss:Constraint>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="udc:BusinessDocumentReference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dp:ContractInformation" minOccurs="0"/>
			<xs:element name="ExpiringBy" type="dp:DatePeriodAndDurationType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Renew all products expiring in this specified period.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="HandlingInstruction" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The object that representing the instruction for quote handling.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstallAt" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The partner and/or location to which the product must be set up for use or service.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsRequiredToResponseAtDetailLevel" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>This object representing the option for the response. If the value equals to true, the receiver is required to response to detail level. If the value equals to false, the receiver is only required to reply at summary level. </urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineNumber" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Number of the line in the document.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="updi:ProductIdentification" minOccurs="0"/>
			<xs:element name="ProductLineNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The object that representing the line number of the referenced product line item.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductSerialIdentifier" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>A unique serial identifier assigned to a product.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dqt:QuoteType"/>
			<xs:element name="RequestedProductQuantity" type="dp:ProductQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The quantity of product requested.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestedServiceQuantity" type="dp:ProductQuantityType">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The quantity of service requested.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestedUnitPrice" type="dp:ProductPricingType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The price requested for a unit of service.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dro:RequestOption"/>
			<xs:element name="RequoteLineStatus" type="tns:RequoteLineStatusType" minOccurs="0"/>
			<xs:element name="ServiceIdentification" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>A unique serial identifier assigned to a service.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceLevel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The object that representing the type of service.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServicePeriod" type="dp:DatePeriodAndDurationType">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>This object allows representation of a date period by a duration or begin and an end dates for a service period.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:SpecialDiscount" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="TransportationScheduleType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describe product quantity and associated schedules, for a given transportation event.</urss:Definition>
				<urss:CreationDate>2005-04-06</urss:CreationDate>
				<urss:LastUpdatedDate>2005-04-06</urss:LastUpdatedDate>
				<urss:TypeVersion>01.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Quantity" type="tns:QuantityType" maxOccurs="unbounded"/>
			<xs:element ref="dte:TransportEvent" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
</xs:schema>
