src/main/xsd/PIP7C7_V11.02.00_NotifyOfSemiconductorTestData/XML/Universal/CodeList/ISO_CountrySubdivision_01_01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:rosettanet:specification:universal:CountrySubdivision:xsd:codelist:01.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:urss="urn:rosettanet:specification:system:xml:1.0" xmlns:tns="urn:rosettanet:specification:universal:CountrySubdivision:xsd:codelist:01.01" elementFormDefault="qualified" attributeFormDefault="unqualified" version="01.01"><xs:annotation><xs:documentation><urss:Copyright></urss:Copyright><urss:Disclaimer></urss:Disclaimer><urss:Program>Domain Model Foundational Program</urss:Program><urss:Purpose>Provides the reference to the ISO Country Subdivision code</urss:Purpose></xs:documentation><xs:appinfo><urss:CreationDate>2005-03-24</urss:CreationDate><urss:LastUpdatedDate>2005-03-24</urss:LastUpdatedDate></xs:appinfo></xs:annotation><xs:element name="CountrySubdivisionA" abstract="true"></xs:element><xs:element name="CountrySubdivision" type="tns:CountrySubdivisionType" substitutionGroup="tns:CountrySubdivisionA"></xs:element><xs:simpleType name="CountrySubdivisionContentType"><xs:annotation><xs:appinfo><urss:Definition>For representation of a Countries subdivisions RosettaNet has adopted ISO 3166-3; 1999. Refer to the following web page to get the latest version of the standard:
 http://www.iso.ch/iso/en/prods-services/iso3166ma/02iso-3166-code-lists/index.html

If you need more information about the ISO standard please contact ISO for more details.</urss:Definition><urss:Identifier>ucs:CountrySubdivisionType</urss:Identifier><urss:RegisteredBy>RosettaNet</urss:RegisteredBy><urss:CreationDate>2005-03-24</urss:CreationDate><urss:LastUpdatedDate>2005-03-24</urss:LastUpdatedDate><urss:TypeVersion>01.01</urss:TypeVersion></xs:appinfo></xs:annotation><xs:restriction base="xs:token"></xs:restriction></xs:simpleType><xs:complexType name="CountrySubdivisionType"><xs:annotation><xs:appinfo><urss:Identifier>CountrySubdivisionType</urss:Identifier><urss:RegisteredBy>RosettaNet</urss:RegisteredBy><urss:CreationDate>2005-03-24</urss:CreationDate><urss:LastUpdatedDate>2005-03-24</urss:LastUpdatedDate><urss:TypeVersion>01.01</urss:TypeVersion></xs:appinfo></xs:annotation><xs:simpleContent><xs:extension base="tns:CountrySubdivisionContentType"><xs:attribute name="identifier" type="xs:token" fixed="CountrySubdivision"></xs:attribute><xs:attribute name="codeListVersion" type="xs:token" fixed="01.01"></xs:attribute><xs:attribute name="agency" type="xs:token" fixed="RosettaNet"></xs:attribute><xs:attribute name="schemaVersion" type="xs:token"></xs:attribute></xs:extension></xs:simpleContent></xs:complexType></xs:schema>
