src/main/xsd/PIP3C4_V11.02.00_NotifyOfInvoiceReject/XML/Interchange/InvoiceRejectNotification_02_00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:rosettanet:specification:interchange:InvoiceRejectNotification:xsd:schema:02.00" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:urss="urn:rosettanet:specification:system:xml:1.0" xmlns:tns="urn:rosettanet:specification:interchange:InvoiceRejectNotification:xsd:schema:02.00" xmlns:udc="urn:rosettanet:specification:universal:Document:xsd:schema:01.04" xmlns:dir="urn:rosettanet:specification:domain:Procurement:InvoiceRejection:xsd:codelist:01.04" xmlns:dp="urn:rosettanet:specification:domain:Procurement:xsd:schema:02.07" xmlns:rmat="urn:rosettanet:specification:domain:Shared:MonetaryAmountType:xsd:codelist:01.01" xmlns:ssdh="urn:rosettanet:specification:system:StandardDocumentHeader:xsd:schema:01.11" elementFormDefault="qualified" attributeFormDefault="unqualified" version="02.00">
	<xs:import namespace="urn:rosettanet:specification:universal:Document:xsd:schema:01.04" schemaLocation="../Universal/Document_01_04.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Procurement:InvoiceRejection:xsd:codelist:01.04" schemaLocation="../Domain/Procurement/CodeList/RN_InvoiceRejection_01_04.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Procurement:xsd:schema:02.07" schemaLocation="../Domain/Procurement/Procurement_02_07.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Shared:MonetaryAmountType:xsd:codelist:01.01" schemaLocation="../Domain/Shared/CodeList/RN_MonetaryAmountType_01_01.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:system:StandardDocumentHeader:xsd:schema:01.11" schemaLocation="../System/StandardDocumentHeader_01_11.xsd"/>
	<xs:annotation>
		<xs:documentation>
			<urss:Copyright>© 2006 RosettaNet. All rights reserved. No part of this publication may be reproduced, stored in a retrieval system, or transmitted, in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without the inclusion of this copyright notice. Any derivative works must cite the copyright notice. Any public redistribution or sale of this publication or derivative works requires prior written permission of the publisher.</urss:Copyright>
			<urss:Disclaimer>RosettaNet makes no representation about the suitability of this work for any purpose or regarding any claims made by products which use it. It is provided as is without expressed or implied warranty.</urss:Disclaimer>
			<urss:Program>Schema to Market/3C4</urss:Program>
			<urss:Purpose>Collection of all Invoice Reject Notification structures</urss:Purpose>
		</xs:documentation>
		<xs:appinfo>
			<urss:CreationDate>2005-04-20</urss:CreationDate>
			<urss:LastUpdatedDate>2006-07-01</urss:LastUpdatedDate>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="InvoiceRejectNotification" type="tns:InvoiceRejectNotificationType"/>
	<xs:complexType name="InvoiceType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>An itemized list of goods or services specifying the price and the terms of sale.</urss:Definition>
				<urss:CreationDate>2005-04-20</urss:CreationDate>
				<urss:LastUpdatedDate>2006-07-01</urss:LastUpdatedDate>
				<urss:TypeVersion>02.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Comments" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Unformatted text.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancialAmount" type="rmat:MonetaryAmountTypeType">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The collection of business properties that describe the monetary amount defined by a specified currency.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:Financing" minOccurs="0"/>
			<xs:element name="InvoiceLineItem" type="tns:InvoiceLineItemType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dir:InvoiceRejection"/>
			<xs:element name="PurchaseOrder" type="udc:BusinessDocumentReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Unique number that identifies a purchase order.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SalesOrder" type="udc:BusinessDocumentReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The unique identifier that represents a sales order.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="InvoiceLineItemType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describe an invoice entry.</urss:Definition>
				<urss:CreationDate>2005-04-20</urss:CreationDate>
				<urss:LastUpdatedDate>2006-07-01</urss:LastUpdatedDate>
				<urss:TypeVersion>01.02</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineNumber" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Number of the line in the document.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurchaseOrder" type="udc:BusinessDocumentReferenceType">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Unique number that identifies a purchase order.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="InvoiceRejectNotificationType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>Top level object for a Invoice Reject business document.</urss:Definition>
				<urss:CreationDate>2005-04-20</urss:CreationDate>
				<urss:LastUpdatedDate>2006-07-01</urss:LastUpdatedDate>
				<urss:TypeVersion>02.00</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ssdh:DocumentHeader" minOccurs="0"/>
			<xs:element name="Invoice" type="tns:InvoiceType"/>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
</xs:schema>
