src/main/xsd/PIP3A4_V11.15.00_RequestPurchaseOrder/XML/Interchange/PurchaseOrderConfirmation_02_05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:rosettanet:specification:interchange:PurchaseOrderConfirmation:xsd:schema:02.05"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:urss="urn:rosettanet:specification:system:xml:1.0"
    xmlns:tns="urn:rosettanet:specification:interchange:PurchaseOrderConfirmation:xsd:schema:02.05"
    xmlns:st="http://www.ascc.net/xml/schematron"
    xmlns:udc="urn:rosettanet:specification:universal:Document:xsd:schema:01.12"
    xmlns:dp="urn:rosettanet:specification:domain:Procurement:xsd:schema:02.29"
    xmlns:updi="urn:rosettanet:specification:universal:ProductIdentification:xsd:schema:01.04"
    xmlns:dpoar="urn:rosettanet:specification:domain:Procurement:PurchaseOrderAcknowledgmentReason:xsd:codelist:01.04"
    xmlns:dpos="urn:rosettanet:specification:domain:Procurement:PurchaseOrderStatus:xsd:codelist:01.06"
    xmlns:dpot="urn:rosettanet:specification:domain:Procurement:PurchaseOrderType:xsd:codelist:01.05"
    xmlns:dro="urn:rosettanet:specification:domain:Procurement:RequestOption:xsd:codelist:01.01"
    xmlns:sha="urn:rosettanet:specification:domain:Shared:xsd:schema:01.17"
    xmlns:upi="urn:rosettanet:specification:universal:PartnerIdentification:xsd:schema:01.16"
    xmlns:ume="urn:rosettanet:specification:universal:MonetaryExpression:xsd:schema:01.06"
    xmlns:dpofp="urn:rosettanet:specification:domain:Procurement:PurchaseOrderFillPriority:xsd:codelist:01.03"
    xmlns:uc="urn:rosettanet:specification:universal:Country:xsd:codelist:01.02"
    xmlns:uuom="urn:rosettanet:specification:universal:UnitOfMeasure:xsd:codelist:01.04"
    xmlns:ulc="urn:rosettanet:specification:universal:Locations:xsd:schema:01.04"
    xmlns:dgpr="urn:rosettanet:specification:domain:Procurement:GovernmentPriorityRating:xsd:codelist:01.03"
    xmlns:dct="urn:rosettanet:specification:domain:Procurement:ConfirmationType:xsd:codelist:01.03"
    xmlns:ssdh="urn:rosettanet:specification:system:StandardDocumentHeader:xsd:schema:01.23" elementFormDefault="qualified" attributeFormDefault="unqualified" version="02.05">
    <xs:import namespace="urn:rosettanet:specification:universal:Document:xsd:schema:01.12" schemaLocation="../Universal/Document_01_12.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:domain:Procurement:xsd:schema:02.29" schemaLocation="../Domain/Procurement/Procurement_02_29.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:universal:ProductIdentification:xsd:schema:01.04" schemaLocation="../Universal/ProductIdentification_01_04.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:domain:Procurement:PurchaseOrderAcknowledgmentReason:xsd:codelist:01.04" schemaLocation="../Domain/Procurement/CodeList/RN_PurchaseOrderAcknowledgmentReason_01_04.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:domain:Procurement:PurchaseOrderStatus:xsd:codelist:01.06" schemaLocation="../Domain/Procurement/CodeList/RN_PurchaseOrderStatus_01_06.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:domain:Procurement:PurchaseOrderType:xsd:codelist:01.05" schemaLocation="../Domain/Procurement/CodeList/RN_PurchaseOrderType_01_05.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:domain:Procurement:RequestOption:xsd:codelist:01.01" schemaLocation="../Domain/Procurement/CodeList/RN_RequestOption_01_01.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:domain:Shared:xsd:schema:01.17" schemaLocation="../Domain/Shared/Shared_01_17.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:universal:PartnerIdentification:xsd:schema:01.16" schemaLocation="../Universal/PartnerIdentification_01_16.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:universal:MonetaryExpression:xsd:schema:01.06" schemaLocation="../Universal/MonetaryExpression_01_06.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:domain:Procurement:PurchaseOrderFillPriority:xsd:codelist:01.03" schemaLocation="../Domain/Procurement/CodeList/RN_PurchaseOrderFillPriority_01_03.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:universal:Country:xsd:codelist:01.02" schemaLocation="../Universal/CodeList/ISO_Country_01_02.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:universal:UnitOfMeasure:xsd:codelist:01.04" schemaLocation="../Universal/CodeList/RN_UnitOfMeasure_01_04.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:universal:Locations:xsd:schema:01.04" schemaLocation="../Universal/Locations_01_04.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:domain:Procurement:GovernmentPriorityRating:xsd:codelist:01.03" schemaLocation="../Domain/Procurement/CodeList/RN_GovernmentPriorityRating_01_03.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:domain:Procurement:ConfirmationType:xsd:codelist:01.03" schemaLocation="../Domain/Procurement/CodeList/RN_ConfirmationType_01_03.xsd"></xs:import>
    <xs:import namespace="urn:rosettanet:specification:system:StandardDocumentHeader:xsd:schema:01.23" schemaLocation="../System/StandardDocumentHeader_01_23.xsd"></xs:import>
    <xs:annotation>
        <xs:documentation>
            <urss:Copyright>© 2009 RosettaNet. All rights reserved. No part of this publication may be reproduced, stored in a retrieval system, or transmitted, in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without the inclusion of this copyright notice. Any derivative works must cite the copyright notice. Any public redistribution or sale of this publication or derivative works requires prior written permission of the publisher.</urss:Copyright>
            <urss:Disclaimer>RosettaNet makes no representation about the suitability of this work for any purpose or regarding any claims made by products which use it. It is provided as is without expressed or implied warranty.</urss:Disclaimer>
            <urss:Program>Q32009 Maintenance Process/3A4</urss:Program>
            <urss:Purpose>Collection of all Purchase Order Confirmation structures.</urss:Purpose>
        </xs:documentation>
        <xs:appinfo>
            <urss:CreationDate>2005-04-05</urss:CreationDate>
            <urss:LastUpdatedDate>2012-05-21</urss:LastUpdatedDate>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="PurchaseOrderConfirmation" type="tns:PurchaseOrderConfirmationType"></xs:element>
    <xs:complexType name="OrderLineItemType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>The collection of business properties that describe a entry in a purchase order business document.</urss:Definition>
                <urss:CreationDate>2005-09-14</urss:CreationDate>
                <urss:LastUpdatedDate>2007-07-30</urss:LastUpdatedDate>
                <urss:TypeVersion>02.02</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="ProductLineItem" type="tns:ProductLineItemType"></xs:element>
                <xs:element name="ServiceLineItem" type="tns:ServiceLineItemType"></xs:element>
                <xs:element name="ServiceLineItemByOption" type="tns:ServiceLineItemByOptionType"></xs:element>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="ProductLineItemType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>The collection of business properties that describe a business document entry for a product in a purchase order business documents. The Recommended ProcessRoleIdentifier for PartnerDescription are CLF - Collect From, SHF - Ship From and SHT -Ship To.</urss:Definition>
                <urss:CreationDate>2005-04-05</urss:CreationDate>
                <urss:LastUpdatedDate>2007-07-30</urss:LastUpdatedDate>
                <urss:TypeVersion>02.02</urss:TypeVersion>
                <urss:Constraint>
                    <st:ns prefix="dp" uri="urn:rosettanet:specification:domain:Procurement:xsd:schema:02.29"/>
                    <st:ns prefix="dsh" uri="urn:rosettanet:specification:domain:Procurement:SpecialHandling:xsd:codelist:01.04"/>
                    <st:pattern name="specialHandling">
                        <st:rule context="tns:ProductLineItem">
                            <st:assert test="(count(dp:OrderShippingInformation/dp:SpecialHandlingInstruction/dp:Text) + count(dp:OrderShippingInformation/dp:SpecialHandlingInstruction/dsh:SpecialHandling)) &gt;= 1">In ProductLineItem, at least one occurrence of OrderShippingInformation/SpecialHandlingInstruction/Text or OrderShippingInformation/SpecialHandlingInstruction/SpecialHandling.</st:assert>
                        </st:rule>
                    </st:pattern>
                </urss:Constraint>
            </xs:appinfo>
            <xs:documentation>
                <urss:Constraint>In ProductLineItem, at least one occurrence of OrderShippingInformation/SpecialHandlingInstruction/Text or OrderShippingInformation/SpecialHandlingInstruction/SpecialHandling.</urss:Constraint>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="dp:AncillaryDocument" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="udc:BusinessDocumentReference" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="BuyerLineItem" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Line number assigned to an item by the product buyer.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Comments" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Free form textual description of a general nature.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dp:ContractInformation" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="CountryOfOrigin" type="uc:CountryType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Country where product originates.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dp:CustomerInformation" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="ExpediteReferenceIdentifier" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The unique identification number for the expediting of a product.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Identifier" type="xs:string" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>A unique serial identifier assigned to a product.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Information" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>A free form textual description of information, relating to a product.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="InstallAtPartnerLine" type="upi:SpecifiedNewPartnerType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The partner and/or location to which the product must be set up for use or service.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="IsDropShip" type="xs:boolean">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Indicates whether the order is a drop shipment.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="LineNumber" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Number of the line in the document.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ListPrice" type="sha:ProductPricingType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>This object represents the pre-discounted price.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dp:MapReference" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dp:MilestoneDate" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dp:OrderQuantity"></xs:element>
            <xs:element ref="dp:OrderShippingInformation" minOccurs="0"></xs:element>
            <xs:element ref="upi:PartnerDescription" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dp:PortalAccess" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="updi:ProductIdentification"></xs:element>
            <xs:element name="ProductSubLineItem" type="tns:ProductSubLineItemType" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dpoar:PurchaseOrderAcknowledgmentReason" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dpofp:PurchaseOrderFillPriority" minOccurs="0"></xs:element>
            <xs:element ref="dpos:PurchaseOrderStatus"></xs:element>
            <xs:element name="RequestedEvent" type="dp:TransportationEventType">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The date a transportation event is requested to occur.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="RequestedShipFrom" type="ulc:LocationType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The DUNS or DUNS + 4 number of the location where the product is requested to be shipped from.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="RequestedUnitPrice" type="sha:MonetaryAmountType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The price requested for a unit of product.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ResponseDescription" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>This object representing the description of response.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ScheduledEvent" type="dp:TransportationEventType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The date a transportation event is scheduled to occur.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dp:ShippedQuantityInformation" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dp:SpecialDiscount" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dp:SubstituteProductReference" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dp:TaxExemptStatus" minOccurs="0"></xs:element>
            <xs:element name="TaxSummary" type="tns:TaxSummaryType" minOccurs="0"></xs:element>
            <xs:element name="TotalLineItemAmount" type="sha:MonetaryAmountType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The monetary total associated with a line item.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="uuom:UnitOfMeasure"></xs:element>
            <xs:element name="UnitPrice" type="sha:MonetaryAmountType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Agreed upon sale price for each unit ordered.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="ProductSubLineItemType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>The collection of business properties that describe a part of a product line item. The Recommended ProcessRoleIdentifier for PartnerDescription are CLF - Collect From.</urss:Definition>
                <urss:CreationDate>2005-04-05</urss:CreationDate>
                <urss:LastUpdatedDate>2007-07-30</urss:LastUpdatedDate>
                <urss:TypeVersion>02.02</urss:TypeVersion>
                <urss:Constraint>
                    <st:ns prefix="dp" uri="urn:rosettanet:specification:domain:Procurement:xsd:schema:02.29"/>
                    <st:ns prefix="dsh" uri="urn:rosettanet:specification:domain:Procurement:SpecialHandling:xsd:codelist:01.04"/>
                    <st:pattern name="specialHandling">
                        <st:rule context="tns:ProductSubLineItem">
                            <st:assert test="(count(dp:OrderShippingInformation/dp:SpecialHandlingInstruction/dp:Text) + count(dp:OrderShippingInformation/dp:SpecialHandlingInstruction/dsh:SpecialHandling)) &gt;= 1">In ProductSubLineItem, at least one occurrence of OrderShippingInformation/SpecialHandlingInstruction/Text or OrderShippingInformation/SpecialHandlingInstruction/SpecialHandling.</st:assert>
                        </st:rule>
                    </st:pattern>
                </urss:Constraint>
            </xs:appinfo>
            <xs:documentation>
                <urss:Constraint>In ProductSubLineItem, at least one occurrence of OrderShippingInformation/SpecialHandlingInstruction/Text or OrderShippingInformation/SpecialHandlingInstruction/SpecialHandling.</urss:Constraint>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="dp:AncillaryDocument" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="BuyerSubLineItem" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition> The information related to the original buyer submitted document and contained within the subline level.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Comments" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Free form textual description of a general nature.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dp:ContractInformation" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="CountryOfOrigin" type="uc:CountryType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Country where product originates.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dp:CustomerInformation" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="ExpediteReferenceIdentifier" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The unique identification number for the expediting of a product.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Identifier" type="xs:string" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>A unique serial identifier assigned to a product.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="Information" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>A free form textual description of information, relating to a product.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="InstallAtSubLine" type="upi:SpecifiedKnownPartnerContactType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The partner and/or location to which the product must be set up for use or service.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="IsDropShip" type="xs:boolean">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Indicates whether the order is a drop shipment.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dp:MapReference" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dp:MilestoneDate" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dp:OrderQuantity"></xs:element>
            <xs:element ref="dp:OrderShippingInformation" minOccurs="0"></xs:element>
            <xs:element ref="upi:PartnerDescription" minOccurs="0"></xs:element>
            <xs:element ref="dp:PortalAccess" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dpoar:PurchaseOrderAcknowledgmentReason" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dpofp:PurchaseOrderFillPriority" minOccurs="0"></xs:element>
            <xs:element ref="dpos:PurchaseOrderStatus"></xs:element>
            <xs:element name="RequestedEvent" type="dp:TransportationEventType">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The date a transportation event is requested to occur.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="RequestedShipFrom" type="ulc:LocationType" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The DUNS or DUNS + 4 number of the location where the product is requested to be shipped from.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ResponseDescription" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>This object representing the description of response.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dp:ShippedQuantityInformation" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="ShipToPartnerSubLine" type="upi:SpecifiedFullPartnerType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The partner and/or location to which the product must be delivered.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dp:SpecialDiscount" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="SubLineItem" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Information contained within a subline.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="uuom:UnitOfMeasure"></xs:element>
            <xs:element name="UnitPrice" type="sha:MonetaryAmountType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The price for a unit of product.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="PurchaseOrderType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>The collection of business properties that describe a buyer's offer to purchase a quantity of products at an agreed price and schedule. The Recommended ProcessRoleIdentifier for PartnerDescription are ITL - Install At, BIT - Bill To, CWN - Contract Owner, SHT - Ship To, RES - Respond To, SHF - Ship From and CLF - Collect From.</urss:Definition>
                <urss:CreationDate>2005-04-05</urss:CreationDate>
                <urss:LastUpdatedDate>2009-07-23</urss:LastUpdatedDate>
                <urss:TypeVersion>02.03</urss:TypeVersion>
                <urss:Constraint>
                    <st:ns prefix="dp" uri="urn:rosettanet:specification:domain:Procurement:xsd:schema:02.29"/>
                    <st:pattern name="netPayment">
                        <st:rule context="tns:PurchaseOrder">
                            <st:assert test="(count(dp:FinancingTerms/dp:PaymentTerms/dp:NetTerms/dp:Day) + count(dp:FinancingTerms/dp:PaymentTerms/dp:NetTerms/dp:Days)) &gt;= 1">In PurchaseOrder, at least one occurrence of FinancingTerms/PaymentTerms/NetTerms/Day or FinancingTerms/PaymentTerms/NetTerms/Days.</st:assert>
                        </st:rule>
                    </st:pattern>
                </urss:Constraint>
                <urss:Constraint>
                    <st:ns prefix="dp" uri="urn:rosettanet:specification:domain:Procurement:xsd:schema:02.29"/>
                    <st:ns prefix="dsh" uri="urn:rosettanet:specification:domain:Procurement:SpecialHandling:xsd:codelist:01.04"/>
                    <st:pattern name="specialHandling">
                        <st:rule context="tns:PurchaseOrder">
                            <st:assert test="(count(dp:OrderShippingInformation/dp:SpecialHandlingInstruction/dp:Text) + count(dp:OrderShippingInformation/dp:SpecialHandlingInstruction/dsh:SpecialHandling)) &gt;= 1">In PurchaseOrder, at least one occurrence of OrderShippingInformation/SpecialHandlingInstruction/Text or OrderShippingInformation/SpecialHandlingInstruction/SpecialHandling.</st:assert>
                        </st:rule>
                    </st:pattern>
                </urss:Constraint>
            </xs:appinfo>
            <xs:documentation>
                <urss:Constraint>In PurchaseOrder, at least one occurrence of FinancingTerms/PaymentTerms/NetTerms/Day or FinancingTerms/PaymentTerms/NetTerms/Days.</urss:Constraint>
                <urss:Constraint>In PurchaseOrder, at least one occurrence of OrderShippingInformation/SpecialHandlingInstruction/Text or OrderShippingInformation/SpecialHandlingInstruction/SpecialHandling.</urss:Constraint>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="dp:AccountDescription" minOccurs="0"></xs:element>
            <xs:element ref="dp:AncillaryDocument" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="BuildingSecurityAccessCode" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Access code which may be used to gain entry through an automated security system to an unmanned site.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="udc:BusinessDocumentReference" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="Comments" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Free form textual description of a general nature.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dct:ConfirmationType" minOccurs="0"></xs:element>
            <xs:element ref="dp:ContractInformation" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dp:FinancingTerms" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="GovernmentContractIdentifier" type="udc:BusinessDocumentReferenceType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The unique number that identifies a government contract.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dgpr:GovernmentPriorityRating" minOccurs="0"></xs:element>
            <xs:element name="Information" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>A free form textual description of information, relating to a product.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="IsDropShip" type="xs:boolean">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Indicates whether the order is a drop shipment.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ListPrice" type="sha:ProductPricingType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>This object represents the pre-discounted price.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="ulc:Location" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dp:MapReference" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dp:MilestoneDate" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="OrderLineItem" type="tns:OrderLineItemType" maxOccurs="unbounded"></xs:element>
            <xs:element ref="dp:OrderShippingInformation" minOccurs="0"></xs:element>
            <xs:element ref="upi:PartnerDescription" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dp:PortalAccess" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dpoar:PurchaseOrderAcknowledgmentReason" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dpofp:PurchaseOrderFillPriority" minOccurs="0"></xs:element>
            <xs:element ref="dpos:PurchaseOrderStatus"></xs:element>
            <xs:element ref="dpot:PurchaseOrderType" maxOccurs="unbounded"></xs:element>
            <xs:element name="RequestedEvent" type="dp:TransportationEventType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The date a transportation event is requested to occur.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ResponseDescription" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>This object representing the description of response.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ScheduledEvent" type="dp:TransportationEventType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The date a transportation event is scheduled to occur.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dp:SecondaryBuyer" minOccurs="0"></xs:element>
            <xs:element ref="dp:SpecialDiscount" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dp:TaxExemptStatus" minOccurs="0"></xs:element>
            <xs:element name="TaxSummary" type="tns:TaxSummaryType" minOccurs="0"></xs:element>
            <xs:element name="TotalAmount" type="sha:MonetaryAmountType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Total price for an entire business document.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="PurchaseOrderConfirmationType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>Top level object for a Purchase Order business document.</urss:Definition>
                <urss:CreationDate>2005-04-05</urss:CreationDate>
                <urss:LastUpdatedDate>2009-07-23</urss:LastUpdatedDate>
                <urss:TypeVersion>02.04</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="ssdh:DocumentHeader" minOccurs="0"></xs:element>
            <xs:element name="PurchaseOrder" type="tns:PurchaseOrderType"></xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="ServiceLineItemType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>The collection of business properties that describe a service entry in a purchase order business documents. The Recommended ProcessRoleIdentifier for PartnerDescription are CLF - Collect From and ITL - Install At.</urss:Definition>
                <urss:CreationDate>2005-09-14</urss:CreationDate>
                <urss:LastUpdatedDate>2009-07-23</urss:LastUpdatedDate>
                <urss:TypeVersion>02.02</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="dp:AncillaryDocument" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="udc:BusinessDocumentReference" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dp:ContractInformation" minOccurs="0"></xs:element>
            <xs:element name="HandlingInstruction" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Free form textual description of instructions.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="LineNumber" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Number of the line in the document.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ListPrice" type="sha:ProductPricingType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>This object represents the pre-discounted price.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dp:MapReference" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dp:MilestoneDate" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="OrderPricing" type="sha:ProductPricingType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The collection of business properties that describe the type of pricing and financial amount for a purchase order.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="upi:PartnerDescription" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dp:PortalAccess" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="updi:ProductIdentification" minOccurs="0"></xs:element>
            <xs:element name="ProductLineNumber" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The object that representing the line number of the referenced product line item.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ProductOrderQuantity" type="dp:OrderQuantityType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The collection of business properties that describe product quantity.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ProductSerialIdentifier" type="xs:string" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>A unique serial identifier assigned to a product.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dpoar:PurchaseOrderAcknowledgmentReason" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="PurchaseOrderReference" type="udc:BusinessDocumentReferenceType">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The purchase order reference object allows for the indirect referencing of a relationship to other purchase order documents.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dpos:PurchaseOrderStatus"></xs:element>
            <xs:element ref="dpot:PurchaseOrderType"></xs:element>
            <xs:element name="ResponseDescription" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>This object representing the description of response.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ServiceIdentification" type="xs:string" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>A unique serial identifier assigned to a service.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ServiceLevel" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The object that representing the type of service or service name.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ServiceOrderQuantity" type="dp:OrderQuantityType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The collection of business properties that describe service quantity.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ServicePeriod" type="sha:DatePeriodAndDurationType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>This object allows representation of a date period by a duration or begin and an end dates for a service period.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dp:SpecialDiscount" maxOccurs="unbounded" minOccurs="0"></xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="ServiceLineItemByOptionType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>The collection of business properties that describe a service entry by option (eg. by Contract, by Product or by Site) in a purchase order business documents. The Recommended ProcessRoleIdentifier for PartnerDescription are CLF - Collect From and ITL - Install At.</urss:Definition>
                <urss:CreationDate>2005-09-28</urss:CreationDate>
                <urss:LastUpdatedDate>2009-07-23</urss:LastUpdatedDate>
                <urss:TypeVersion>02.02</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="dp:AncillaryDocument" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="udc:BusinessDocumentReference" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dp:ContractInformation" minOccurs="0"></xs:element>
            <xs:element name="ExpiringBy" type="sha:DatePeriodAndDurationType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Renew all products expiring in this specific period.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="HandlingInstruction" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Free form textual description of instructions.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="LineNumber" type="xs:string">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>Number of the line in the document.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ListPrice" type="sha:ProductPricingType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>This object represents the pre-discounted price.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dp:MapReference" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dp:MilestoneDate" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="OrderPricing" type="sha:ProductPricingType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The collection of business properties that describe the type of pricing and financial amount for a purchase order.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="upi:PartnerDescription" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="dp:PortalAccess" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element ref="updi:ProductIdentification" minOccurs="0"></xs:element>
            <xs:element name="ProductLineNumber" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The object that representing the line number of the referenced product line item.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ProductOrderQuantity" type="dp:OrderQuantityType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The collection of business properties that describe product quantity.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ProductSerialIdentifier" type="xs:string" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>A unique serial identifier assigned to a product.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dpoar:PurchaseOrderAcknowledgmentReason" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="PurchaseOrderReference" type="udc:BusinessDocumentReferenceType">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The purchase order reference object allows for the indirect referencing of a relationship to other purchase order documents.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dpos:PurchaseOrderStatus"></xs:element>
            <xs:element ref="dpot:PurchaseOrderType"></xs:element>
            <xs:element ref="dro:RequestOption"></xs:element>
            <xs:element name="ResponseDescription" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>This object representing the description of response.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ServiceIdentification" type="xs:string" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>A unique serial identifier assigned to a service.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ServiceLevel" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The object that representing the type of service or service name.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ServiceOrderQuantity" type="dp:OrderQuantityType">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The collection of business properties that describe service quantity.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="ServicePeriod" type="sha:DatePeriodAndDurationType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>This object allows representation of a date period by a duration or begin and an end dates for a service period.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element ref="dp:SpecialDiscount" maxOccurs="unbounded" minOccurs="0"></xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="TaxSummaryType">
        <xs:annotation>
            <xs:appinfo>
                <urss:Definition>The collection of business properties that describe the total tax information for a local, regional or national taxing authority.</urss:Definition>
                <urss:CreationDate>2005-04-05</urss:CreationDate>
                <urss:LastUpdatedDate>2006-05-25</urss:LastUpdatedDate>
                <urss:TypeVersion>02.00</urss:TypeVersion>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element ref="ume:TaxAmount" maxOccurs="unbounded"></xs:element>
            <xs:element name="TotalAmount" type="sha:MonetaryAmountType" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>
                        <urss:Definition>The collection of business properties that describe the total of amount being taxed.</urss:Definition>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="schemaVersion" type="xs:token"></xs:attribute>
    </xs:complexType>
</xs:schema>
