src/main/xsd/PIP3A7_V11.00.00_NotifyOfPurchaseOrderUpdate/XML/Interchange/PurchaseOrderUpdateNotification_02_01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:rosettanet:specification:interchange:PurchaseOrderUpdateNotification:xsd:schema:02.01" xmlns:ssdh="urn:rosettanet:specification:system:StandardDocumentHeader:xsd:schema:01.10" xmlns:dpot="urn:rosettanet:specification:domain:Procurement:PurchaseOrderType:xsd:codelist:01.04" xmlns:dgpr="urn:rosettanet:specification:domain:Procurement:GovernmentPriorityRating:xsd:codelist:01.03" xmlns:updi="urn:rosettanet:specification:universal:ProductIdentification:xsd:schema:01.03" xmlns:udc="urn:rosettanet:specification:universal:Document:xsd:schema:01.03" xmlns:sha="urn:rosettanet:specification:domain:Shared:xsd:schema:01.04" xmlns:upi="urn:rosettanet:specification:universal:PartnerIdentification:xsd:schema:01.06" xmlns:ulc="urn:rosettanet:specification:universal:Locations:xsd:schema:01.03" xmlns:dat="urn:rosettanet:specification:domain:Procurement:ActionType:xsd:codelist:01.03" xmlns:dpos="urn:rosettanet:specification:domain:Procurement:PurchaseOrderStatus:xsd:codelist:01.03" xmlns:dpoar="urn:rosettanet:specification:domain:Procurement:PurchaseOrderAcknowledgmentReason:xsd:codelist:01.04" xmlns:uuom="urn:rosettanet:specification:universal:UnitOfMeasure:xsd:codelist:01.02" xmlns:uc="urn:rosettanet:specification:universal:Country:xsd:codelist:01.02" xmlns:dpofp="urn:rosettanet:specification:domain:Procurement:PurchaseOrderFillPriority:xsd:codelist:01.03" xmlns:dp="urn:rosettanet:specification:domain:Procurement:xsd:schema:02.06" xmlns:st="http://www.ascc.net/xml/schematron" xmlns:tns="urn:rosettanet:specification:interchange:PurchaseOrderUpdateNotification:xsd:schema:02.01" xmlns:urss="urn:rosettanet:specification:system:xml:1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="02.01">
	<xs:import namespace="urn:rosettanet:specification:domain:Procurement:xsd:schema:02.06" schemaLocation="../Domain/Procurement/Procurement_02_06.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Procurement:PurchaseOrderFillPriority:xsd:codelist:01.03" schemaLocation="../Domain/Procurement/CodeList/RN_PurchaseOrderFillPriority_01_03.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:universal:Country:xsd:codelist:01.02" schemaLocation="../Universal/CodeList/ISO_Country_01_02.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:universal:UnitOfMeasure:xsd:codelist:01.02" schemaLocation="../Universal/CodeList/RN_UnitOfMeasure_01_02.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Procurement:PurchaseOrderAcknowledgmentReason:xsd:codelist:01.04" schemaLocation="../Domain/Procurement/CodeList/RN_PurchaseOrderAcknowledgmentReason_01_04.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Procurement:PurchaseOrderStatus:xsd:codelist:01.03" schemaLocation="../Domain/Procurement/CodeList/RN_PurchaseOrderStatus_01_03.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Procurement:ActionType:xsd:codelist:01.03" schemaLocation="../Domain/Procurement/CodeList/RN_ActionType_01_03.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:universal:Locations:xsd:schema:01.03" schemaLocation="../Universal/Locations_01_03.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:universal:PartnerIdentification:xsd:schema:01.06" schemaLocation="../Universal/PartnerIdentification_01_06.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Shared:xsd:schema:01.04" schemaLocation="../Domain/Shared/Shared_01_04.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:universal:Document:xsd:schema:01.03" schemaLocation="../Universal/Document_01_03.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:universal:ProductIdentification:xsd:schema:01.03" schemaLocation="../Universal/ProductIdentification_01_03.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Procurement:GovernmentPriorityRating:xsd:codelist:01.03" schemaLocation="../Domain/Procurement/CodeList/RN_GovernmentPriorityRating_01_03.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:domain:Procurement:PurchaseOrderType:xsd:codelist:01.04" schemaLocation="../Domain/Procurement/CodeList/RN_PurchaseOrderType_01_04.xsd"/>
	<xs:import namespace="urn:rosettanet:specification:system:StandardDocumentHeader:xsd:schema:01.10" schemaLocation="../System/StandardDocumentHeader_01_10.xsd"/>
	<xs:annotation>
		<xs:documentation>
			<urss:Copyright>© 2006 RosettaNet. All rights reserved. No part of this publication may be reproduced, stored in a retrieval system, or transmitted, in any form or by any means, electronic, mechanical, photocopying, recording, or otherwise, without the inclusion of this copyright notice. Any derivative works must cite the copyright notice. Any public redistribution or sale of this publication or derivative works requires prior written permission of the publisher.</urss:Copyright>
			<urss:Disclaimer>RosettaNet makes no representation about the suitability of this work for any purpose or regarding any claims made by products which use it. It is provided as is without expressed or implied warranty.</urss:Disclaimer>
			<urss:Program>Schema to Market/3A7</urss:Program>
			<urss:Purpose>Collection of all Purchase Order Update Notification structures</urss:Purpose>
		</xs:documentation>
		<xs:appinfo>
			<urss:CreationDate>2005-04-18</urss:CreationDate>
			<urss:LastUpdatedDate>2006-05-23</urss:LastUpdatedDate>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="PurchaseOrderUpdateNotification" type="tns:PurchaseOrderUpdateNotificationType"/>
	<xs:complexType name="ProductLineItemType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describe a business document entry for a product. </urss:Definition>
				<urss:CreationDate>2005-04-18</urss:CreationDate>
				<urss:LastUpdatedDate>2006-05-23</urss:LastUpdatedDate>
				<urss:TypeVersion>02.01</urss:TypeVersion>
				<urss:Constraint>
					<st:ns prefix="dp" uri="urn:rosettanet:specification:domain:Procurement:xsd:schema:02.06"/>
					<st:ns prefix="dsh" uri="urn:rosettanet:specification:domain:Procurement:SpecialHandling:xsd:codelist:01.03"/>
					<st:pattern name="specialHandlingInstruction">
						<st:rule context="tns:ProductLineItem">
							<st:assert test="(count(dp:OrderShippingInformation/dp:SpecialHandlingInstruction/dp:Text) + count(dp:OrderShippingInformation/dp:SpecialHandlingInstruction/dsh:SpecialHandling)) &gt;= 1">In ProductLineItem, at least one occurrence of OrderShippingInformation/SpecialHandlingInstruction/Text or OrderShippingInformation/SpecialHandlingInstruction/SpecialHandling.</st:assert>
						</st:rule>
					</st:pattern>
				</urss:Constraint>
			</xs:appinfo>
			<xs:documentation>
				<urss:Constraint>In ProductLineItem, at least one occurrence of OrderShippingInformation/SpecialHandlingInstruction/Text or OrderShippingInformation/SpecialHandlingInstruction/SpecialHandling.</urss:Constraint>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="dat:ActionType" minOccurs="0"/>
			<xs:element ref="udc:BusinessDocumentReference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="BuyerLineItem" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Line number assigned to an item by the product buyer.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Free form textual description of a general nature.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:ContractInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CountryOfOrigin" type="uc:CountryType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Country where product originates.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:CustomerInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ExpediteReferenceIdentifier" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The unique identification number for the expediting of a product.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Information" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>A free form textual description of information, relating to a product.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstallAt" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The partner and/or location to which the product must be set up for use or service.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsContainsChanges" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Indicates changes have been requested by the recipient of an existing purchase order.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsDropShip" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Indicates whether the order is a drop shipment.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="LineNumber" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Number of the line in the document.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:OrderQuantity"/>
			<xs:element ref="dp:OrderShippingInformation" minOccurs="0"/>
			<xs:element name="OriginalScheduledEvent" type="dp:TransportationEventType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The initial date a transportation event is scheduled to occur.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="updi:ProductIdentification"/>
			<xs:element name="ProductSubLineItem" type="tns:ProductSubLineItemType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dpoar:PurchaseOrderAcknowledgmentReason" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dpofp:PurchaseOrderFillPriority" minOccurs="0"/>
			<xs:element ref="dpos:PurchaseOrderStatus"/>
			<xs:element name="RequestedEvent" type="dp:TransportationEventType">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The date a transportation event is requested to occur.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestedShipFrom" type="ulc:LocationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The DUNS or DUNS + 4 number of the location where the product is requested to be shipped from.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestedUnitPrice" type="sha:MonetaryAmountType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The price requested for a unit of product.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RevisionNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>An incremental number used to identify changes.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduledEvent" type="dp:TransportationEventType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The date a transportation event is scheduled to occur.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShipFrom" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The DUNS or DUNS + 4 number of the location from where the product is to be shipped.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:ShippedQuantityInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ShipTo" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The partner and/or location to which the product must be delivered. </urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:SubstituteProductReference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dp:TaxExemptStatus" minOccurs="0"/>
			<xs:element ref="dp:TaxSummary" minOccurs="0"/>
			<xs:element name="TotalLineItemAmount" type="sha:MonetaryAmountType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The monetary total associated with a line item.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="uuom:UnitOfMeasure"/>
			<xs:element name="UnitPrice" type="sha:MonetaryAmountType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Agreed upon sale price for each unit ordered.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="ProductSubLineItemType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describe a part of a product line item.</urss:Definition>
				<urss:CreationDate>2005-04-18</urss:CreationDate>
				<urss:LastUpdatedDate>2006-05-23</urss:LastUpdatedDate>
				<urss:TypeVersion>02.01</urss:TypeVersion>
				<urss:Constraint>
					<st:ns prefix="dp" uri="urn:rosettanet:specification:domain:Procurement:xsd:schema:02.06"/>
					<st:ns prefix="dsh" uri="urn:rosettanet:specification:domain:Procurement:SpecialHandling:xsd:codelist:01.03"/>
					<st:pattern name="specialHandlingInstruction">
						<st:rule context="tns:ProductSubLineItem">
							<st:assert test="(count(dp:OrderShippingInformation/dp:SpecialHandlingInstruction/dp:Text) + count(dp:OrderShippingInformation/dp:SpecialHandlingInstruction/dsh:SpecialHandling)) &gt;= 1">In ProductSubLineItem, at least one occurrence of OrderShippingInformation/SpecialHandlingInstruction/Text or OrderShippingInformation/SpecialHandlingInstruction/SpecialHandling.</st:assert>
						</st:rule>
					</st:pattern>
				</urss:Constraint>
			</xs:appinfo>
			<xs:documentation>
				<urss:Constraint>In ProductSubLineItem, at least one occurrence of OrderShippingInformation/SpecialHandlingInstruction/Text or OrderShippingInformation/SpecialHandlingInstruction/SpecialHandling.</urss:Constraint>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="dat:ActionType" minOccurs="0"/>
			<xs:element name="BuyerSubLineItem" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition> The information related to the original buyer submitted document and contained within the subline level. </urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Free form textual description of a general nature.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:ContractInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CountryOfOrigin" type="uc:CountryType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Country where product originates.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:CustomerInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ExpediteReferenceIdentifier" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The unique identification number for the expediting of a product.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Information" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>A free form textual description of information, relating to a product.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstallAt" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The partner and/or location to which the product must be set up for use or service.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsContainsChanges" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Indicates changes have been requested by the recipient of an existing purchase order.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsDropShip" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Indicates whether the order is a drop shipment.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:OrderQuantity"/>
			<xs:element ref="dp:OrderShippingInformation" minOccurs="0"/>
			<xs:element name="OriginalScheduledEvent" type="dp:TransportationEventType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The initial date a transportation event is scheduled to occur.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dpoar:PurchaseOrderAcknowledgmentReason" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dpofp:PurchaseOrderFillPriority" minOccurs="0"/>
			<xs:element ref="dpos:PurchaseOrderStatus"/>
			<xs:element name="RequestedEvent" type="dp:TransportationEventType">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The date a transportation event is requested to occur.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestedShipFrom" type="ulc:LocationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The DUNS or DUNS + 4 number of the location where the product is requested to be shipped from.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestedUnitPrice" type="sha:MonetaryAmountType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The price requested for a unit of product.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RevisionNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>An incremental number used to identify changes.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduledEvent" type="dp:TransportationEventType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The date a transportation event is scheduled to occur.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShipFrom" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The DUNS or DUNS + 4 number of the location from where the product is to be shipped.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:ShippedQuantityInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ShipTo" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The partner and/or location to which the product must be delivered. </urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubLineItem" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Information contained within a subline.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalLineItemAmount" type="sha:MonetaryAmountType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The monetary total associated with a line item.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="uuom:UnitOfMeasure"/>
			<xs:element name="UnitPrice" type="sha:MonetaryAmountType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Agreed upon sale price for each unit ordered.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="PurchaseOrderType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describe a buyer's offer to purchase a quantity of products at an agreed price and schedule.</urss:Definition>
				<urss:CreationDate>2005-04-18</urss:CreationDate>
				<urss:LastUpdatedDate>2006-05-23</urss:LastUpdatedDate>
				<urss:TypeVersion>02.01</urss:TypeVersion>
				<urss:Constraint>
					<st:ns prefix="dp" uri="urn:rosettanet:specification:domain:Procurement:xsd:schema:02.06"/>
					<st:pattern name="financingTerms">
						<st:rule context="tns:PurchaseOrder">
							<st:assert test="(count(dp:FinancingTerms/dp:PaymentTerms/dp:NetTerms/dp:Day) + count(dp:FinancingTerms/dp:PaymentTerms/dp:NetTerms/dp:Days)) &gt;= 1">In PurchaseOrder, at least one occurrence of FinancingTerms/PaymentTerms/NetTerms/Day or FinancingTerms/PaymentTerms/NetTerms/Days.</st:assert>
						</st:rule>
					</st:pattern>
				</urss:Constraint>
				<urss:Constraint>
					<st:ns prefix="dp" uri="urn:rosettanet:specification:domain:Procurement:xsd:schema:02.06"/>
					<st:ns prefix="dsh" uri="urn:rosettanet:specification:domain:Procurement:SpecialHandling:xsd:codelist:01.03"/>
					<st:pattern name="specialHandlingInstruction">
						<st:rule context="tns:PurchaseOrder">
							<st:assert test="(count(dp:OrderShippingInformation/dp:SpecialHandlingInstruction/dp:Text) + count(dp:OrderShippingInformation/dp:SpecialHandlingInstruction/dsh:SpecialHandling)) &gt;= 1">In PurchaseOrder, at least one occurrence of OrderShippingInformation/SpecialHandlingInstruction/Text or OrderShippingInformation/SpecialHandlingInstruction/SpecialHandling.</st:assert>
						</st:rule>
					</st:pattern>
				</urss:Constraint>
			</xs:appinfo>
			<xs:documentation>
				<urss:Constraint>In PurchaseOrder, at least one occurrence of FinancingTerms/PaymentTerms/NetTerms/Day or FinancingTerms/PaymentTerms/NetTerms/Days.</urss:Constraint>
				<urss:Constraint>In PurchaseOrder, at least one occurrence of OrderShippingInformation/SpecialHandlingInstruction/Text or OrderShippingInformation/SpecialHandlingInstruction/SpecialHandling.</urss:Constraint>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="dp:AccountDescription" minOccurs="0"/>
			<xs:element ref="udc:BusinessDocumentReference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Comments" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Free form textual description of a general nature.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:ContractInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dp:FinancingTerms" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="GovernmentContractIdentifier" type="udc:BusinessDocumentReferenceType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The unique number that identifies a government contract.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dgpr:GovernmentPriorityRating" minOccurs="0"/>
			<xs:element name="Information" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>A free form textual description of information, relating to a product.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstallAt" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The partner and/or location to which the product must be set up for use or service.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsContainsChanges" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Indicates changes have been requested by the recipient of an existing purchase order.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsDropShip" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Indicates whether the order is a drop shipment.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:OrderShippingInformation" minOccurs="0"/>
			<xs:element name="OriginalScheduledEvent" type="dp:TransportationEventType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The initial date a transportation event is scheduled to occur.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductLineItem" type="tns:ProductLineItemType" maxOccurs="unbounded"/>
			<xs:element ref="dpoar:PurchaseOrderAcknowledgmentReason" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dpofp:PurchaseOrderFillPriority" minOccurs="0"/>
			<xs:element ref="dpos:PurchaseOrderStatus"/>
			<xs:element ref="dpot:PurchaseOrderType" maxOccurs="unbounded"/>
			<xs:element name="RequestedEvent" type="dp:TransportationEventType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The date a transportation event is requested to occur.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestedShipFrom" type="ulc:LocationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The DUNS or DUNS + 4 number of the location where the product is requested to be shipped from.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="RevisionNumber" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>An incremental number used to identify changes.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScheduledEvent" type="dp:TransportationEventType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The date a transportation event is scheduled to occur.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:SecondaryBuyer" minOccurs="0"/>
			<xs:element name="ShipFrom" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The DUNS or DUNS + 4 number of the location from where the product is to be shipped.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:ShippedQuantityInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ShipTo" type="upi:SpecifiedPartnerDescriptionType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The partner and/or location to which the product must be delivered. </urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="dp:TaxExemptStatus" minOccurs="0"/>
			<xs:element ref="dp:TaxSummary" minOccurs="0"/>
			<xs:element name="TotalAmount" type="sha:MonetaryAmountType" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Total price for an entire business document.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="PurchaseOrderUpdateType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>The collection of business properties that describe a seller's acknowledgment of (including updates to) a purchase order.</urss:Definition>
				<urss:CreationDate>2005-04-18</urss:CreationDate>
				<urss:LastUpdatedDate>2006-05-23</urss:LastUpdatedDate>
				<urss:TypeVersion>02.01</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IsResponseRequired" type="xs:boolean">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>Indicates whether a responding PIP is necessary to accept purchase order changes or to cancel the purchase order. The requirement for the response is identified in the Trading Partner Agreement.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurchaseOrder" type="tns:PurchaseOrderType"/>
			<xs:element name="RevisionNumber" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<urss:Definition>The revision number for a purchase order update document.</urss:Definition>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
	<xs:complexType name="PurchaseOrderUpdateNotificationType">
		<xs:annotation>
			<xs:appinfo>
				<urss:Definition>Top level object for a Purchase Order Update business document.</urss:Definition>
				<urss:CreationDate>2005-04-18</urss:CreationDate>
				<urss:LastUpdatedDate>2006-05-23</urss:LastUpdatedDate>
				<urss:TypeVersion>02.01</urss:TypeVersion>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="ssdh:DocumentHeader" minOccurs="0"/>
			<xs:element name="PurchaseOrderUpdate" type="tns:PurchaseOrderUpdateType"/>
		</xs:sequence>
		<xs:attribute name="schemaVersion" type="xs:token"/>
	</xs:complexType>
</xs:schema>
